/* src/assets/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles for Modal */


.overlay {
  @apply fixed top-0 left-0 right-0 bottom-0 bg-black bg-opacity-50 flex items-center justify-center;
}
